@tailwind base;

html, body {
    height:100%;
    overflow:auto;
};

@tailwind components;
@tailwind utilities;

.bg-main-custom {
    background-image: url("./assets/backgroundPattern.svg");
    background-color: #b23a48;
    background-repeat: repeat;
    background-size: 80px;
  }